# Extcap configuration file for Wireshark 4.4.3.
#
# This file is regenerated each time preferences are saved within
# Wireshark. Making manual changes should be safe, however.
# Preferences that have been commented out have not been
# changed from their default value.

####### Extcap Utilities ########

# Save arguments on start of capture
# true or false (case-insensitive)
#extcap.gui_save_on_start: TRUE

# etl file
# A string
#extcap.etwdump.etlfile: 

# filter parameters
# A string
#extcap.etwdump.params: 

# Should undecidable events be included
# A string
#extcap.etwdump.iue: false

# Set the log level
# A string
#extcap.etwdump.loglevel: 

# Use a file for logging
# A string
#extcap.etwdump.logfile: 

# Only advertising packets
# A string
#extcap.com6_4_4.onlyadvertising: 

# Only legacy advertising packets
# A string
#extcap.com6_4_4.onlylegacyadvertising: 

# Find scan response data
# A string
#extcap.com6_4_4.scanfollowrsp: true

# Find auxiliary pointer data
# A string
#extcap.com6_4_4.scanfollowaux: true

# Scan and follow devices on LE Coded PHY
# A string
#extcap.com6_4_4.coded: false

# Listen port
# A string
#extcap.udpdump.port: 5555

# Payload type
# A string
#extcap.udpdump.payload: data

# Set the log level
# A string
#extcap.udpdump.loglevel: 

# Use a file for logging
# A string
#extcap.udpdump.logfile: 
